include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        +Navbar()
        section.slider
            .owl-carousel
                .slider__item
                    img(src="assets/images/slider/slide1.jpg", alt="").bg
                    .container
                        .col
                            h1 Приглашаем на кофе
                            .text 
                                |Совершайте покупки и учавствуйте в розыгрыше 14 кофеварок и других классных призов!
                            a(href="#").btn.orange подробности 
                .slider__item
                    img(src="assets/images/slider/slide1.jpg", alt="").bg
                    .container
                        .col
                            h1 Приглашаем на кофе 2
                            .text 
                                |Совершайте покупки и учавствуйте в розыгрыше 14 кофеварок и других классных призов!
                            a(href="#").btn.orange подробности 
                .slider__item
                    img(src="assets/images/slider/slide1.jpg", alt="").bg
                    .container
                        .col
                            h1 Приглашаем на кофе 3
                            .text 
                                |Совершайте покупки и учавствуйте в розыгрыше 14 кофеварок и других классных призов!
                            a(href="#").btn.orange подробности 
            .container.slider__nav__wrapper
                .slider__nav
                    .nav
                    .dots
        section.souz__grid
            .container
                .grid__wrapper
                    a(href="#").grid__item.shops
                        span.item__title Магазины
                        span.item__subtitle Более 50 брендов
                    a(href="#").grid__item.sale
                        span.item__title Акции
                        span.item__subtitle Главные распродажи нашего ТЦ
                        button(href="#").btn.orange Подробнее
                    a(href="#").grid__item.hot__to__get
                        span.item__title Как добраться?
                        span.item__subtitle Очень просто!
                    a(href="#").grid__item.services
                        span.item__title Услуги
                        span.item__subtitle Современный ТЦ к Вашему вниманию
                    a(href="#").grid__item.about__us
                        span.item__title О нас
                        span.item__subtitle Мы открыты для Вас
                    a(href="#").grid__item.airplane
                        span.item__title ЦБУ «Самолёт»
                        span.item__subtitle Идеально подойдёт под все виды бытовых услуг
                    a(href="#").grid__item.news
                        span.item__title Новости
                        span.item__subtitle Будьте в курсе последних событий!
                    a(href="#").grid__item.call
                        span.item__title Обратная связь
                        span.item__subtitle Давайте общаться!
            
        include pug/scripts.pug