include pug/mixins.pug

mixin GridItem(title, subtitle, img, name)
    a(href="#" class=name).grid__item
        img(src=img, alt="").bg
        span.item__title=title
        span.item__subtitle=subtitle
        button(href="#").btn.orange Подробнее

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        include pug/head.pug
    body
        +Navbar()
        section.slider
            .owl-carousel
                .slider__item
                    img(src="assets/images/slider/slide1.jpg", alt="").bg
                    .container
                        .col
                            h1 Приглашаем на кофе
                            .text 
                                |Совершайте покупки и учавствуйте в розыгрыше 14 кофеварок и других классных призов!
                            a(href="#").btn.orange подробности 
                .slider__item
                    img(src="assets/images/slider/slide1.jpg", alt="").bg
                    .container
                        .col
                            h1 Приглашаем на кофе 2
                            .text 
                                |Совершайте покупки и учавствуйте в розыгрыше 14 кофеварок и других классных призов!
                            a(href="#").btn.orange подробности 
                .slider__item
                    img(src="assets/images/slider/slide1.jpg", alt="").bg
                    .container
                        .col
                            h1 Приглашаем на кофе 3
                            .text 
                                |Совершайте покупки и учавствуйте в розыгрыше 14 кофеварок и других классных призов!
                            a(href="#").btn.orange подробности 
            .container.slider__nav__wrapper
                .slider__nav
                    .nav
                    .dots
        section.souz__grid
            .container
                .grid__wrapper
                    +GridItem('Магазины', 'Более 50 брендов', 'assets/images/mainpage_grid/1.jpg', 'shops')
                    +GridItem('Акции', 'Главные распродажи нашего ТЦ', 'assets/images/mainpage_grid/2.jpg', 'sale')
                    +GridItem('Как добраться?', 'Очень просто!', 'assets/images/mainpage_grid/3.jpg', 'hot__to__get')
                    +GridItem('Услуги', 'Современный ТЦ к Вашему вниманию', 'assets/images/mainpage_grid/4.jpg', 'services')
                    +GridItem('О нас', 'Мы открыты для Вас', 'assets/images/mainpage_grid/5.jpg', 'about__us')
                    +GridItem('ЦБУ «Самолёт»', 'Идеально подойдёт под все виды бытовых услуг', 'assets/images/mainpage_grid/6.jpg', 'airplane')
                    +GridItem('Новости', 'Будьте в курсе последних событий!', 'assets/images/mainpage_grid/7.jpg', 'news')
                    +GridItem('Обратная связь', 'Давайте общаться!', 'assets/images/mainpage_grid/8.jpg', 'call')
        +Footer()
            
        include pug/scripts.pug