@media(max-width: 1200px)
{
    .container.navbar .col
    {
        width: 380px;
    }

    section.souz__grid .sale
    {
        background-position-x: 60%;
    }

    section.sale .cards__wrapper
    {
        width: 860px;
    }

    section.tenants .statistics__wrapper .statistics__item
    {
        width: 475px;
    }

    .engineering__systems.owl-carousel .item
    {
        width: 200px;
    }
}

@media(max-width: 1024px)
{
    .soc__wrapper a
    {
        margin-right: 5px;
    }

    .logo img
    {
        height: 45px;
    }

    .container.navbar .col
    {
        width: 375px;
    }

    section.tenants .statistics__wrapper .statistics__item
    {
        width: 450px;
        padding: 0 50px;
    }
}

@media(max-width: 992px)
{
    .btn__menu
    {
        display: block;
    }

    .navbar .col:first-child
    {
        display: none;
    }

    .container.navbar .col
    {
        width: 500px;
        padding-left: 15px;
        margin-left: auto;
    }

    .mobile__menu.active
    {
        left: 0;
    }

    .mobile__menu
    {
        padding-top: 95px;
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        z-index: -1;
        background: rgba(255, 255, 255, 0.95);
        transition: 0.5s;

        .container
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px;
        }

        .menu
        {
            padding: 0;
            list-style: none;
            text-align: center;

            li
            {
                margin: 10px 0;

                a
                {
                    font-weight: 600;
                }
            }
        }

        .row
        {
            display: flex;
            margin-bottom: 15px;

            .soc__wrapper
            {
                margin-right: 15px;
            }
        }

        .search__form input
        {
            background: none;
        }

        .schedule
        {
            display: none;
        }
    }

    header
    {
        .menu__wrapper
        {
            display: none;
        }
    }

    section.souz__grid .grid__wrapper
    {
        grid-template-columns: repeat(10, 10%);
    }

    section.souz__grid .shops
    {
        grid-column: span 5;
    }

    section.souz__grid .sale
    {
        grid-column: span 5;
        grid-row: span 6;
    }

    section.souz__grid .hot__to__get
    {
        grid-column: span 5;
    }

    section.souz__grid .services
    {
        grid-column: span 5;
        grid-row: span 6;
    }

    section.souz__grid .about__us
    {
        grid-column: span 5;
        grid-row: span 6;
    }

    section.souz__grid .airplane
    {
        grid-column: span 5;
        grid-row: span 6;
    }

    section.souz__grid .news
    {
        grid-column: span 5;
        grid-row: span 6;
    }

    section.souz__grid .call
    {
        grid-column: span 5;
        grid-row: span 6;
    }

    footer .col
    {
        width: 100%;
    }

    footer .phone
    {
        font-size: 17px;
    }

    section.sale .cards__wrapper
    {
        width: 570px;
    }

    section.tenants .statistics__wrapper .statistics__item
    {
        width: 340px;
        padding: 0 20px;
    }

    section.callback .form__wrapper
    {
        width: 340px;
    }

    section.callback .contacts__info
    {
        width: 275px;
    }

    section.about__complex .slider__wrapper .slider__nav
    {
        padding: 0;
    }

    .engineering__systems.owl-carousel .item
    {
        margin: auto;
    }

    .engineering__systems.owl-carousel .owl-item
    {
        opacity: 1;
    }

    section.about__complex .text__block
    {
        flex-direction: column-reverse;
    }

    section.about__complex .text__block .images__col
    {
        justify-content: center;
    }

    section.about__complex .text__block .text
    {
        padding: 0;
        text-align: center;
        margin-top: 25px;
    }

    section.about__complex .history__part, section.about__complex .new__part
    {
        padding-top: 60px;
    }
}

@media(max-width: 768px)
{
    .container
    {
        max-width: 576px;
    }

    .navbar .schedule
    {
        display: none;
    }

    .mobile__menu .schedule
    {
        display: block;
    }

    .container.navbar .col
    {
        width: auto;
    }

    .container.navbar .logo
    {
        margin-left: 0;
    }

    .navbar .btn__menu
    {
        margin-left: 15px;
    }

    section.slider .slider__item h1
    {
        font-size: 48px;
    }

    section.slider .slider__item .col
    {
        width: 70%;
    }

    section.souz__grid .grid__item
    {
        grid-column: span 10;
    }

    footer .container
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    footer .col
    {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }

    footer .soc__wrapper span
    {
        display: inline-block;
        width: auto;
        margin-right: 10px;
    }

    footer .soc__wrapper
    {
        display: flex;
        align-items: center;
    }

    footer .menu
    {
        font-size: 14px;
        text-align: center;
    }

    footer .copyright
    {
        text-align: center;
    }

    section.sale .cards__wrapper
    {
        width: 290px;
    }

    .modal .preview
    {
        height: 140px;
    }

    .modal .phone
    {
        font-size: 11px;
    }

    section.tenants .statistics__wrapper .statistics__item
    {
        width: 100%;
        padding: 0 80px;
    }

    section.callback .container
    {
        flex-direction: column;
    }

    section.callback .form__wrapper
    {
        margin-bottom: 60px;
    }

    section.contacts .contacts__wrapper
    {
        flex-direction: column;
    }

    section.contacts .contacts__wrapper .contacts
    {
        margin-bottom: 40px;
    }

    section.department__contacts .contacts
    {
        flex-direction: column;
    }

    section.department__contacts .contacts .tel__wrapper
    {
        width: 60%;
    }

    section.department__contacts .contacts .department
    {
        width: 60%;
        margin: 15px 0;
    }

    section.souz .container .col:nth-child(1)
    {
        padding: 0;
    }

    section.about__complex .wrapper
    {
        flex-direction: column;
    }
}

@media(max-width: 576px)
{
    body
    {
        padding-top: 70px;
    }
    .container.navbar
    {
        height: 70px;
    }
    .container.navbar .logo
    {
        overflow: hidden;
        width: 55px;
    }

    .container.navbar .btn
    {
        padding: 10px;
    }

    .mobile__menu
    {
        padding-top: 70px;
    }

    section.slider .slider__item h1
    {
        font-size: 30px;
    }

    section.slider .slider__item
    {
        min-height: 330px;
    }

    section.tenants .statistics__wrapper .statistics__item
    {
        padding: 15px;
    }

    section.callback .form__wrapper
    {
        width: 100%;
    }

    section.callback .form__wrapper .form__file label
    {
        font-size: 13px;
        padding-left: 18px;
    }

    .graphic
    {
        flex-wrap: wrap;
        justify-content: center;
    }

    section.about__complex .text__block .images__col
    {
        grid-template-columns: 50% 50%;
    }

    section.souz .container
    {
        flex-direction: column;
    }

    section.souz .container .col
    {
        width: 100%;
        padding: 40px;
    }

    section.souz .container .col:nth-child(1)
    {
        padding: 40px 40px 0 40px;
    }
}