body
{
    font-family: "CenturyGothic";
    margin: 0;
    color: #000;
    background: #fff;
    padding-top: 130px;
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input
{
    outline: none;
}

button, a
{
    cursor: pointer;
}

.soc__wrapper
{
    display: flex;
    .inst
    {
        width: 29px;
        height: 28px;
        background: url(../images/icons/inst.png);
    }

    .vk
    {
        width: 28px;
        height: 28px;
        background: url(../images/icons/vk.png);
    }

    .viber
    {
        width: 27px;
        height: 28px;
        background: url(../images/icons/vider.png);
        margin-bottom: -2px;
    }

    .whatsapp
    {
        width: 27px;
        height: 27px;
        background: url(../images/icons/whatsapp.png);
        margin-bottom: -2px;
    }

    .tg
    {
        width: 25px;
        height: 25px;
        background: url(../images/icons/tg.png);
    }

    a
    {
        display: block;
        margin-right: 15px;
        transition: 0.3s;
    }

    a:last-of-type
    {
        margin-right: 0;
    }

    a:hover
    {
        transform: scale(0.9);
    }
}

.how__to__get 
{
    color: #264e9d;
    font-size: 14px;
    position: relative;
    padding-left: 20px;
    transition: 0.3s;

    span
    {
        text-decoration: underline;
    }
}

.how__to__get:after
{
    content: '';
    width: 15px;
    height: 18px;
    background: url(../images/icons/geo.png);
    position: absolute;
    left: 0;
    top: 0;
}

.search__form
{
    width: 150px;
    height: 27px;
    position: relative;

    input
    {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid #82898f;
        padding-left: 25px;
        font-family: "CenturyGothic";
    }

    input::placeholder
    {
        color: #000;
    }
}

.search__form:after
{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../images/icons/loupe.png);
    left: 0;
    top: 4px;
}

.schedule
{
    padding-left: 35px;
    position: relative;
    font-size: 14px;

    span
    {
        display: block;
    }
}

.schedule:after
{
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    background: url(../images/icons/clock.png);
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.address
{
    padding-left: 35px;
    position: relative;
    font-size: 14px;
}

.address:after
{
    content: '';
    position: absolute;
    width: 18px;
    height: 21px;
    background: url(../images/icons/geo2.png);
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.phone
{
    padding-left: 25px;
    position: relative;
    font-size: 19px;
    font-weight: 600;
}

.phone:after
{
    content: '';
    position: absolute;
    width: 14px;
    height: 25px;
    background: url(../images/icons/phone.png);
    left: 0;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.btn
{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #ec7c25;
    background: none;
    transition: 0.3s;
    display: inline-block;
}

.btn.orange
{
    background-color: #ec7c25;
    color: #fff;
    border-radius: 20px;
}

.btn:hover
{
    background: #ec7c25;
    color: #fff;
}

.btn.orange:hover
{
    background-color: #fff;
    color: black;
}

.container.navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;


    .col
    {
        display: flex;
        width: 410px;
        align-items: center;
        justify-content: space-between;
    }

    .logo
    {
        margin-left: auto;
        margin-right: auto;
    }
}

header
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #fff;
}

header .menu__wrapper
{
    background-color: #4a1b09;
    color: #fff;
    padding: 7px 0;
    .menu
    {
        list-style: none;
        font-weight: 600;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;

        a
        {
            position: relative;
        }

        a:after
        {
            content: '';
            width: 0%;
            height: 1px;
            position: absolute;
            left: 50%;
            bottom: 0;
            background-color: #fff;
            transform: translateX(-50%);
            transition: 0.5s;
        }

        a:hover:after
        {
            width: 100%;
        }
    }
}

section.slider
{
    position: relative;
    .slider__item
    {
        min-height: 400px;
        position: relative;

        .bg
        {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .col
        {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
            padding-bottom: 80px;
        }

        h1
        {
            font-size: 60px;
            color: #4a1b09;
            margin-bottom: 10px;
        }

        .text
        {
            margin-bottom: 15px;
        }
    }

    .slider__nav__wrapper
    {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 5;
        bottom: 30px;
    }

    .slider__nav
    {
        position: relative;
        padding: 0 55px;
        display: inline-flex;
        .nav
        {
            button
            {
                width: 45px;
                height: 45px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border: none;
                background: none;
                font-size: 0;
            }

            .owl-prev
            {
                left: 0;
                background: url(../images/icons/nav_left.png);
            }

            .owl-next
            {
                right: 0;
                background: url(../images/icons/nav_right.png);
            }
        }

        .dots
        {
            display: flex;
            align-items: center;
            button
            {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                transition: 0.5s;
                background: #82898f;
                display: inline-block;
                border: none;
                padding: 0;
                margin: 0 3px;
            }

            button:hover, button.active
            {
                background: #ec7c25;
            }
        }
    }
}

section.souz__grid
{
    padding-bottom: 60px;
    .grid__wrapper
    {
        display: grid;
        grid-template-columns: repeat(21, 4.5%);
        grid-auto-rows: 70px;
        justify-content: center;
        margin-top: 10px;
    }

    .grid__item
    {
        display: block;
        margin: 10px;
        border-radius: 25px;
        overflow: hidden;
        padding: 40px 30px;
        position: relative;

        .item__title
        {
            color: #4a1b09;
            display: block;
            font-weight: 600;
            font-size: 30px;
        }
        .item__subtitle
        {
            color: #4a1b09;
            display: block;
            margin-bottom: 30px;
        }

        .bg
        {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            object-fit: cover;
            transition: 0.3s;
        }

        .btn
        {
            opacity: 0;
            pointer-events: none;
        }
    }

    .grid__item:hover
    {
        .bg
        {
            filter: blur(3px);
        }

        .btn
        {
            opacity: 1;
            pointer-events: all;
        }
    }

    .shops
    {
        grid-column: span 9;
        grid-row: span 6;
    }

    .sale
    {
        grid-column: span 12;
        grid-row: span 7;
    }

    .hot__to__get
    {
        grid-column: span 9;
        grid-row: span 6;
    }

    .services
    {
        grid-column: span 6;
        grid-row: span 5;
    }

    .about__us
    {
        grid-column: span 6;
        grid-row: span 5;
    }

    .airplane
    {
        grid-column: span 7;
        grid-row: span 5;
    }

    .news
    {
        grid-column: span 7;
        grid-row: span 5;
    }

    .call
    {
        grid-column: span 7;
        grid-row: span 5;
    }
}

footer
{
    background-color: #f0f4f7;
    padding: 30px 0;

    .container
    {
        display: flex;
        justify-content: space-between;
    }

    .col
    {
        width: 30%;
    }

    .address
    {
        margin: 25px 0;
    }

    .policy
    {
        font-size: 14px;
        font-weight: 600;
    }

    .soc__wrapper
    {
        font-size: 14px;
        display: block;
        span
        {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            margin-top: 15px;
        }

        a
        {
            display: inline-block;
        }
    }

    .menu
    {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 12px;
        font-weight: 600;

        li
        {
            margin-bottom: 10px;
        }
    }
    
    .soc__wrapper.messengers
    {
        margin: 15px 0;
    }

    .copyright
    {
        font-size: 11px;
        margin: 20px 0;
    }

    .salut
    {
        font-size: 13px;
        font-weight: 600;

        a
        {
            color: #ec7c25;
            transition: 0.5s;
        }

        a:hover
        {
            color: #a90808;
        }
    }
}

.mobile__menu
{
    display: none;
}

.title
{
    text-align: center;
    color: #4a1b09;
}

.btn__tab__wrapper
{
    margin-bottom: 25px;
    .btn__tab
    {
        color: #4a1b09;
        background: #fff0e3;
        border: none;
        font-size: 16px;
        font-family: "CenturyGothic";
        padding: 10px 20px;
        display: inline-block;
        transition: 0.5s;
    }

    .btn__tab
    {
        margin-right: 3px;
    }

    .btn__tab:last-child
    {
        margin-right: 0;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }

    .btn__tab:first-child
    {
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
    }

    .btn__tab:hover, .btn__tab.active
    {
        background: #ec7c25;
        color: #fff;
    }
}

section.sale
{
    padding-bottom: 60px;
    .btn__tab__wrapper
    {
        text-align: center;
    }

    .sale__wrapper
    {
        display: flex;
        flex-wrap: wrap;
    }

    .justify
    {
        display: flex;
        justify-content: center;
    }
}

.card__item
{
    width: 265px;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    margin: 10px;

    .preview
    {
        width: 100%;
        height: 165px;
        object-fit: cover;
    }

    .text
    {
        padding: 20px 30px;

        .card__title
        {
            color: #ec7c25;
            font-size: 18px;
            font-weight: 600;
            display: block;
        }

        .card__desc
        {
            font-size: 13px;
            color: #264e9d;
            font-weight: 600;
        }
    }
}

.card__item:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 2px solid #ec7c25;
    pointer-events: none;
    transition: 0.3s;
    opacity: 0;
}

.card__item:hover:after
{
    opacity: 1;
}

.modal 
{
    .preview
    {
        position: relative;
        width: 100%;
        height: 290px;
        
    
        .bg
        {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
    }

    .preview:after
    {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
    }

    .place
    {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 25px;
        display: flex;
        font-size: 14px;
        color: #fff;
        z-index: 10;

        .floor
        {
            padding-left: 30px;
            position: relative;
            margin-right: 15px;
        }

        .floor:after
        {
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            left: 0;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            background: url(../images/icons/floor.png);
        }

        .building
        {
            padding-left: 25px;
            position: relative;
        }

        .building:after
        {
            content: '';
            position: absolute;
            width: 19px;
            height: 19px;
            left: 0;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            background: url(../images/icons/building.png);
        }
    }

    .row
    {
        position: absolute;
        bottom: 0;
        z-index: 10;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
    }

    .text
    {
        padding: 20px;
        font-size: 14px;
        p:first-child
        {
            margin-top: 0;
        }

        a
        {
            color: #264e9d;
        }
    }

    .footer
    {
        padding: 0 20px 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .phone
    {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .phone:after
    {
        width: 12px;
        height: 21px;
        background: url(../images/icons/phone2.png);
    }

    .site a
    {
        font-size: 14px;
        color: #264e9d;
        text-decoration: underline;
    }

    .site
    {
        padding-left: 20px;
        position: relative;
    }

    .site:after
    {
        content: '';
        position: absolute;
        width: 13px;
        height: 13px;
        left: 0;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        background: url(../images/icons/link.png);
    }
}

section.tenants
{
    padding-bottom: 60px;
    .statistics__wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0 80px 0;
        .statistics__item
        {
            width: 550px;
            height: 205px;
            padding: 0 85px;
            border-radius: 15px;
            margin: 10px;
            display: flex;
            align-items: center;

            .text
            {
                display: flex;
                flex-direction: column;
                padding-left: 85px;
                position: relative;

                .item__title
                {
                    font-size: 26px;
                    font-weight: 600;
                    color: #4a1b09;
                }

                .item__subtitle
                {
                    font-size: 17px;
                    color: #4a1b09;
                }
            }

            .text:after
            {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        .population
        {
            background-color: #ffefe3;

            .text:after
            {
                width: 54px;
                height: 54px;
                background: url(../images/icons/population.png);
            }
        }

        .area
        {
            background-color: #e6e7f3;

            .text:after
            {
                width: 67px;
                height: 67px;
                background: url(../images/icons/area.png);
            }
        }

        .area__arenda
        {
            background-color: #fbf5d7;

            .text:after
            {
                width: 67px;
                height: 67px;
                background: url(../images/icons/arenda.png);
            }
        }

        .visitors
        {
            background-color: #dcfef6;

            .text:after
            {
                width: 62px;
                height: 40px;
                background: url(../images/icons/visitors.png);
            }
        }
    }

    .cke_wrapper
    {
        text-align: center;

        p
        {
            margin-bottom: 35px;
        }
    }
}

section.callback
{
    padding-bottom: 60px;
    .container
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .form__wrapper
    {
        display: flex;
        flex-direction: column;
        width: 500px;

        input
        {
            height: 35px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 1px solid #000;
            font-size: 16px;
            font-family: "CenturyGothic";
        }

        input::placeholder
        {
            color: #000;
        }

        .form__file
        {
            input
            {
                display: none;
            }

            label
            {
                padding-left: 25px;
                color: #264e9d;
                position: relative;
                cursor: pointer;
            }

            label:after
            {
                content: '';
                position: absolute;
                width: 15px;
                height: 18px;
                background: url(../images/icons/file.png);
                left: 0;
                top: 0;
                bottom: 0;
                margin-top: auto;
                margin-bottom: auto;
            }
        }

        .form__footer
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .contacts__info
    {
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #f1f1f1;
        padding: 40px;
        border-radius: 15px;

        .contact
        {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            a[href^="tel:"]
            {
                font-size: 18px;
                font-weight: 600;
            }

            a[href^="mailto:"]
            {
                color: #264e9d;
            }
        }
    }
}

@import 'responce';